src/main/app/rest-api-template.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd">
    <http:listener-config xmlns:http="http://www.mulesoft.org/schema/mule/http" name="rest-api-template-httpListenerConfig" host="0.0.0.0" port="${http.listener.port}" doc:name="HTTP Listener Configuration"/>
    <apikit:config xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" name="rest-api-template-config" raml="rest-api-template.raml" consoleEnabled="false" doc:name="Router"/>
    <flow name="rest-api-template-main">
        <http:listener xmlns:http="http://www.mulesoft.org/schema/mule/http" config-ref="rest-api-template-httpListenerConfig" path="${http.listener.basePath}" doc:name="HTTP"/>
        <apikit:router xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" config-ref="rest-api-template-config" doc:name="APIkit Router"/>
        <exception-strategy ref="rest-api-template-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="rest-api-template-console">
        <http:listener xmlns:http="http://www.mulesoft.org/schema/mule/http" config-ref="rest-api-template-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" config-ref="rest-api-template-config" doc:name="APIkit Console"/>
    </flow>
    <!-- Handles GET requests to /hello endpoint -->
    <flow name="get:/hello:rest-api-template-config">
        <logger message="Started flow: #[flow.name]" level="INFO" doc:name="Logger"/>
        <flow-ref name="get-hello-Sub_Flow" doc:name="Flow Reference"/>
        <logger message="Completed flow: #[flow.name]" level="INFO" doc:name="Logger"/>

    </flow>
    <!-- Handles POST requests to /hello endpoint -->
    <flow name="post:/hello:application/json:rest-api-template-config">
        <logger message="Started flow: #[flow.name]" level="INFO" doc:name="Logger"/>
        <flow-ref name="post-hello-Sub_Flow" doc:name="Flow Reference"/>
        <logger message="Completed flow: #[flow.name]" level="INFO" doc:name="Logger"/>

    </flow>
    <!-- Error handling code is auto-generated by APIKit. This can be modified, extended, and augmented to suit your needs. -->
    <apikit:mapping-exception-strategy xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" name="rest-api-template-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
